<md-dialog aria-label="Agendar instalación" style="width: 100%; height: 100%" layout="column">
    <form ng-cloak flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 flex>Agendar instalacióon</h2>
                <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" flex>
            <div layout="row" flex>
                <div class="scroll" flex="70" layout="column" layout-padding>
                    <div layout="row">
                        <div flex="70">
                            <div layout="row">
                                <md-icon>event</md-icon>
                                <datetimepicker
                                        class="material-date-picker margin-left"
                                        placeholder="Fecha de instalación"
                                        options="ctrl.options"
                                        date="ctrl.event.datetime">
                                </datetimepicker>
                            </div>
                        </div>
                        <div flex="30" layout="row">
                            <md-input-container flex>
                                <label>Grupo</label>
                                <md-select
                                        ng-model="ctrl.event.group_id"
                                        ng-change="ctrl.filterInstallers()">
                                    <md-option
                                            ng-repeat="group in ctrl.groups"
                                            ng-value="group.id">
                                        {{ group.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <label>Direccion</label>
                            <textarea rows="1" ng-model="ctrl.event.address"></textarea>
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-content class="autocomplete transparent" layout="column" flex>
                            <md-contact-chips
                                    ng-model="ctrl.installers"
                                    md-contacts="ctrl.querySearch($query, (ctrl.installers.length > 0) ? [] : ctrl.allInstallers)"
                                    md-contact-name="name"
                                    md-contact-image="image"
                                    md-contact-email="email"
                                    md-require-match="true"
                                    md-highlight-flags="i"
                                    filter-selected="ctrl.installersFilterSelected"
                                    placeholder="Instalador"
                                    ng-click="ctrl.indexSelected = 0">
                            </md-contact-chips>
                        </md-content>
                    </div>
                    <div layout="row">
                        <md-content class="autocomplete transparent" layout="column" flex>
                            <md-contact-chips
                                    ng-model="ctrl.units"
                                    md-contacts="ctrl.querySearch($query, ctrl.allUnits)"
                                    md-contact-name="imei"
                                    md-require-match="true"
                                    md-highlight-flags="i"
                                    filter-selected="ctrl.unitsFilterSelected"
                                    placeholder="Unidades"
                                    ng-click="ctrl.indexSelected = 1">
                            </md-contact-chips>
                        </md-content>
                    </div>
                </div>
                <div flex="30" layout="column">
                    <div flex ng-show="ctrl.indexSelected == 0" layout="column">
                        <md-subheader class="md-no-sticky">Instaladores</md-subheader>
                        <md-list class="scroll fixedRows chips-filter" flex>
                            <md-list-item
                                    class="md-2-line contact-item"
                                    ng-repeat="(index, installer) in ctrl.allInstallers"
                                    ng-if="ctrl.installers.indexOf(installer) < 0"
                                    style="margin-bottom: 1em">
                                <img ng-src="{{installer.image}}" class="md-avatar" alt="{{installer.name}}" />
                                <div class="md-list-item-text compact">
                                    <h3>{{installer.name}}</h3>
                                    <p
                                            ng-repeat="installation in installer.installations"
                                            style="padding: 4px 0; border-bottom: 1px solid #a4a4a4">
                                        <span>{{ ctrl.formatDate(installation.installation_time, 'hh:mm A', 'HH:mm:ss') }}</span>
                                        <span> - </span>
                                        <span>{{ installation.units.length }} unidades</span>
                                        <br>
                                        <span>Direccion: {{ installation.address }}</span>
                                    </p>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, installer) in ctrl.installers">
                                <img ng-src="{{installer.image}}" class="md-avatar" alt="{{installer.name}}" />
                                <div class="md-list-item-text compact">
                                    <h3>{{installer.name}}</h3>
                                    <p>{{installer.group}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div flex ng-show="ctrl.indexSelected == 1" layout="column">
                        <md-subheader class="md-no-sticky">Unidades</md-subheader>
                        <md-list class="scroll fixedRows chips-filter" flex>
                            <md-list-item class="md-2-line contact-item" ng-repeat="(index, unit) in ctrl.allUnits"
                                          ng-if="ctrl.units.indexOf(unit) < 0">
                                <img ng-src="https://www.materialui.co/materialIcons/maps/local_shipping_grey_192x192.png" class="md-avatar" alt="{{unit.name}}" />
                                <div class="md-list-item-text compact">
                                    <h3>{{unit.imei}}</h3>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-2-line contact-item selected" ng-repeat="(index, unit) in ctrl.units">
                                <img ng-src="https://www.materialui.co/materialIcons/maps/local_shipping_grey_192x192.png" class="md-avatar" alt="{{unit.name}}" />
                                <div class="md-list-item-text compact">
                                    <h3>{{unit.imei}}</h3>
                                </div>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <div layout-align="end center">
                <md-button class="md-raised md-warn" ng-click="ctrl.cancel()">
                    <md-icon class="icon-button-text">close</md-icon>
                    Cancelar
                </md-button>
                <md-button class="md-raised md-accent" ng-click="ctrl.sendEvent()">
                    <md-icon class="icon-button-text">event</md-icon>
                    Agendar
                </md-button>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>