<div ng-controller="ScheduleController" layout="row" flex>
    <calendar-md flex="70" layout layout-fill
                 calendar-direction="direction"
                 on-prev-month="changeMonth"
                 on-next-month="changeMonth"
                 on-day-click="daySelected"
                 title-format="'MMMM y'"
                 ng-model='selectedDate'
                 week-starts-on="firstDayOfWeek"
                 tooltips="tooltips"
                 day-format="dayFormat"
                 day-label-format="'EEE'"
                 day-label-tooltip-format="'EEEE'"
                 day-tooltip-format="'fullDate'"
                 day-content="setDayContent"
                 disable-future-selection="false"
    <-- Allows dates in the future to be disabled and unselectable. Defaults to false--> >
    </calendar-md>


    <md-card class="no-margin margin-left" flex-gt-xs=30 flex=100   >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div></div>
                <md-icon class="icon-small-margin-rigth">event</md-icon>
                <h3 flex>Instalaciones</h3>
                <md-button class="md-icon-button" ng-click="newEvent($event)">
                    <md-tooltip md-direction="top">Agendar instalacion</md-tooltip>
                    <md-icon>add</md-icon>
                </md-button>
            </div>
            <!-- <md-progress-linear md-mode="determinate" value="100" class="md-accent"></md-progress-linear> -->
        </md-toolbar>
        <md-card-content layout="column" flex>
            <div class="scroll vertical-container" flex>
                <div ng-repeat="hour in events" layout="column" style="margin-bottom: 2em">
                    <!-- <div layout="row" layout-align="center center">
                        <div style="padding: 1em; padding-left: 0; font-size: 18px; font-weight: bold;">{{ hour.time }}</div>
                        <md-progress-linear md-mode="determinate" value="100" class="md-accent"></md-progress-linear>
                    </div> -->
                    <md-subheader class="no-padding white-background" layout="column">
                        <div layout="row" layout-align="center center">
                            <div style="padding: 1em; padding-left: 0; font-size: 18px; font-weight: bold;">{{ hour.time }}</div>
                            <md-progress-linear md-mode="determinate" value="100" class="md-accent"></md-progress-linear>
                        </div>
                    </md-subheader>
                    <md-card
                            layout="row"
                            ng-repeat="event in hour.events"
                            ng-click="editEvent(event, $event)">
                        <div layout="column">
                            <div
                                    layout-align="center center"
                                    layout="column"
                                    layout-padding
                                    flex
                                    style="background-color: #{{ event.group.color }}; color: {{ textColor(event.group.color) }}; font-weight: bold; border-radius: 2px 0 0 2px;">
                                <span>{{ formatDate(event.installation_time, 'hh:mm A', 'HH:mm:ss') }}</span>
                            </div>
                        </div>
                        <md-card-content layout="row">
                            <div flex layout="column">
                                <div>{{ event.address }}</div>
                                <div>{{ event.group.name }}</div>
                                <div>{{ event.installer.name }} {{ event.installer.last_name }} {{ event.installer.second_last_name }}</div>
                            </div>
                        </md-card-content>

                    </md-card>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>