.count-indicator {
  display: flex;
  height: 100%;
  justify-content: center;
}

.count-indicator > div {
  background: #e0e0e0;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  text-align: center;
  width: 40px;
}