$material-placeholder-input: #a1a1a1;

.material-date-picker {
  border-radius: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  border-bottom: 1px solid #e1e1e1 !important;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 18px;
}

.material-date-picker:focus {
  border-bottom: 2px solid $primaryColor !important;
}

.material-date-picker.md-accent:focus {
  border-bottom: 2px solid $accentColor !important;
}

.material-date-picker::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    $material-placeholder-input;
}
.material-date-picker:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $material-placeholder-input;
  opacity:  1;
}
.material-date-picker::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $material-placeholder-input;
  opacity:  1;
}
.material-date-picker:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    $material-placeholder-input;
}
.material-date-picker::-ms-input-placeholder { /* Microsoft Edge */
  color:    $material-placeholder-input;
}