.no-scroll {
  overflow: hidden;
}

.scroll {
  overflow-y: auto;
}

.scroll::-webkit-scrollbar-track,
.scroll *::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar,
.scroll *::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb,
.scroll *::-webkit-scrollbar-thumb
{
  background-color: #b7b7b7;
  border: 2px solid #F5F5F5;
}
