md-content.transparent {
  background: transparent !important;
}

.no-margin {
  margin: 0;
}

.margin-left {
  margin-left: 8px;
}

.margin-right {
  margin-right: 8px;
}

.icon-margin-rigth {
  margin-right: 1em;
}

.icon-small-margin-rigth {
  margin-right: 0.5em;
}

.icon-button-text {
  margin-right: 6px;
}

.no-padding {
  padding: 0;
}

.no-padding .md-subheader-inner {
  padding: 0;
}

.white-background {
  background: white !important;
}